/node_modules
/public/vendor/build
/public/vendor/js
/public/api
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
.php-cs-fixer.cache
.phpstan
.scribe
.DS_Store
*.tgz
_ide_helper.php