# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/

stages:
  - deploy

variables:
  NODE_VERSION: "18.17.0"
  PHP_VERSION: "8.2"

deploy-job:
  stage: deploy
  image: alpine:latest
  before_script:
    - "command -v ssh-agent >/dev/null || ( apk add --update openssh )"
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_IP "
      . ~/.zshrc &&
      cd /home/$SSH_USER/www/$CI_PROJECT_NAME &&
      git pull &&
      supervisorctl stop bookshelves-worker:bookshelves-worker_00 &&
      composer install &&
      php$PHP_VERSION artisan optimize:clear &&
      composer dump-autoload &&
      php$PHP_VERSION artisan clear:all &&
      php$PHP_VERSION artisan optimize &&
      php$PHP_VERSION artisan scout:fresh &&
      /home/$SSH_USER/.nvm/versions/node/v$NODE_VERSION/bin/pnpm i &&
      /home/$SSH_USER/.nvm/versions/node/v$NODE_VERSION/bin/pnpm build &&
      supervisorctl start bookshelves-worker:bookshelves-worker_00 &&
      notifier '$CI_PROJECT_TITLE'"
  only:
    - main
