# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/

stages:
  - deploy

variables:
  NODE_VERSION: '16.14.0'
  PHP_VERSION: '8.1'

deploy-job:
  stage: deploy
  image: alpine:latest
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_IP "
      cd /home/ewilan/www/$CI_PROJECT_NAME &&
      git pull &&
      /usr/bin/php$PHP_VERSION /usr/local/bin/composer install &&
      php$PHP_VERSION artisan bookshelves:clear &&
      php$PHP_VERSION artisan optimize &&
      /usr/bin/php$PHP_VERSION /usr/local/bin/composer doc &&
      php$PHP_VERSION artisan bookshelves:scout -f &&
      /home/ewilan/.nvm/versions/node/v$NODE_VERSION/bin/pnpm i &&
      /home/ewilan/.nvm/versions/node/v$NODE_VERSION/bin/pnpm build &&
      discord-queerotronic.sh '$CI_PROJECT_TITLE'"
  only:
    - main
