.on-screen-btn {
  /* @apply hover:bg-white hover:bg-opacity-30 transition-colors duration-75; */
}
.on-screen-tuto-color {
  @apply bg-white bg-opacity-80;
}

#fullScreen {
  margin: 0px;
  position: absolute;
  text-align: left;
  left: 0px;
  top: 0px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 5;
  overflow-y: auto;
}
