/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'BentonSans';
    font-weight: 400;
    src: url('/fonts/BentonSans Regular.otf') format('opentype');
}

@font-face {
    font-family: 'BentonSans';
    font-weight: 500;
    src: url('/fonts/BentonSans Medium.otf') format('opentype');
}

@font-face {
    font-family: 'BentonSans';
    font-weight: 700;
    src: url('/fonts/BentonSans Bold.otf') format('opentype');
}

@font-face {
    font-family: 'BentonSans Black';
    font-weight: 900;
    src: url('/fonts/BentonSans Black.otf') format('opentype');
} */

@font-face {
  font-family: Handlee;
  src: url('/assets/fonts/Handlee-Regular.ttf');
}

@font-face {
  font-family: Quicksand;
  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf');
}
