#toc,
#panelLinks {
    scrollbar-width: thin;
}

/* body {
    overflow-y: scroll;
} */

.entity {
    clear: both;
    min-height: 200px;
    position: relative;
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.entity__cover {
    float: left;
    margin: 4px 10px 4px 4px;
    width: 200px;
    height: 100%;
    position: absolute;
}

.entity__right {
    float: right;
    line-height: 40px;
    text-align: right;
    margin: 6px;
}

.entity__center {
    margin: 0px 0px 4px 125px;
}

.hyphenate {
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}

@media only screen and (min-width: 400px) {
    .content-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .content-content {
        flex: 1 0 auto;
    }
    .content-footer {
        flex-shrink: 0;
    }
}

.prose pre code::after {
    content: none;
}

.scrollbar-thin {
    scrollbar-width: thin;
}
