@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

[v-cloak] {
    display: none;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

body {
    @apply bg-gray-900 text-white;
    scrollbar-width: thin;
}

.badge {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
