@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.entity {
    clear: both;
    min-height: 200px;
    position: relative;
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.entity__cover {
    float: left;
    margin: 4px 10px 4px 4px;
    width: 200px;
    height: 100%;
    position: absolute;
}

.entity__right {
    float: right;
    line-height: 40px;
    text-align: right;
    margin: 6px;
}

.entity__center {
    margin: 0px 0px 4px 125px;
}
