.markdown-body h1 {
    margin-top: 6rem;
    font-family: Handlee;
    display: table;
    position: relative;
    width: max-content;
}

.markdown-body h1::after {
    content: " ";
    width: 80%;
    display: block;
    --border-opacity: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    border: 2px solid #108775;
}

.markdown-body h2 {
    font-family: Quicksand;
    display: table;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: max-content;
}

.markdown-body h2::after {
    content: " ";
    width: 80%;
    display: block;
    --border-opacity: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    border: 1px dashed #108775;
}

.markdown-body h3 {
    font-family: Quicksand;
    width: max-content;
    position: relative;
    display: table;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
