#toc {
    @apply fixed bg-gray-100 z-40;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding-left: 1rem;
    height: 100vh;
}

/* .prose ul > li::before {
    background-color: transparent !important;
} */

.sidenav {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 1.06rem;
    line-height: 1.3;
}

.sidenav a:hover {
    text-decoration: none;
}

/* .active {
    position: relative;
    color: #005ea2;
    font-weight: 700;
}

.active {
    color: #005ea2;
}

.active::after {
    background-color: #005ea2;
    border-radius: 99rem;
    content: "";
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0;
}

.active::after {
    display: none;
} */

#toc li {
    @apply border-l-4 border-transparent;
}
#toc .active {
    @apply border-green-600;
}

.sidenav a:not(.active) {
    color: #212121;
}

.sidenav a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.sidenav__sublist {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 1rem;
}

.sidenav__sublist a {
    padding-left: 2rem;
}

.sidenav__sublist .sidenav__sublist a {
    padding-left: 3rem;
}

.sidenav__sublist .sidenav__sublist .sidenav__sublist a {
    padding-left: 4rem;
}

pre {
    position: relative;
}
.copy-code-button {
    @apply absolute top-5 right-5 z-30;
}
