@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

a {
  @apply text-gray-400 hover:text-gray-300 transition-colors duration-75;
}

/* html {
  @apply h-full bg-gray-100;
}
body {
  @apply h-full;
} */

/* @import '../css/fonts.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import 'lib/autocomplete/auto-complete.css';
@import 'styles/map.css';

[x-cloak] {
    @apply hidden;
}

select {
    @apply py-2 px-3;
}

.sr-only {
    @apply hidden;
}

body {
    --color-orange: #fc7753;
    --color-blue: #0d3082;
    --color-yellow: #fed481;
    --color-yellow-light: rgba(254, 212, 129, 0.5);
    --color-gray-300: rgb(210, 210, 210);
    --color-gray-400: rgb(160, 160, 160);
    --color-gray-500: rgb(110, 110, 110);
    --color-gray-600: rgb(60, 60, 60);
    --color-primary: var(--color-orange);
    --color-secondary: var(--color-yellow);

    &.is-universe-pro {
        --color-yellow: #ffa60d;
        --color-primary: var(--color-blue);
    }
}

@screen xl {
    .invest-clip-path-03 {
        clip-path: polygon(0 0, 93% 5%, 100% 100%, 0% 100%);
    }
    .invest-clip-path-02 {
        clip-path: polygon(5% 0, 100% 5%, 100% 100%, 0% 100%);
    }
    .invest-clip-path-01 {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
    .invest-clip-path-04 {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }
    .invest-clip-path-05 {
        clip-path: polygon(0 06%, 100% 0, 100% 100%, 0% 100%);
    }
    .invest-clip-path-06 {
        clip-path: polygon(0 6%, 96% 0, 100% 100%, 0% 100%);
    }
}

.dom-bullet > li {
    &::before {
        content: '';
        background: url(/images/bullet.svg) no-repeat left center;
        background-size: 7px 7px;
        @apply inline-block w-[10px] h-[10px] mr-2;
    }
}

.dom-button {
    @apply py-3 px-6 text-center rounded-sm border-3 transition duration-200 border-transparent text-white hover:bg-transparent inline-block;
} */
